/* General */
body{
    background-color:#f0f8ff;
    margin:0; /* removes the blank space above the first section */
    font-family: 'Overpass', sans-serif;
}

header, main, footer{
    background-color:#fff;
    box-shadow: 0 4px 10px #ccc;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 4px;
}

header{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#wrapper{
    width:1200px;
    margin: auto;
}

/* Nav */
nav{
    display: flex;
    gap: 1.5em;
    padding: 0.5em; 
    justify-content: center;
}

nav a{
    padding: 0.5em;
    color: #a36d8b;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}

nav a:hover{
    background-color: #a36d8b;
    color:#fff;
}

.active{
    background-color: #a36d8b;
    color:#fff;
}

#logo{
    width: 100px;
}

.banner{
    margin-bottom: 1em;
    background-image: url(/images/banner.png);
    /* Image as background pic allows to round the corners */
    width: 1200px;
    height: 300px;
    border-radius: 4px;
}

h1{
    color: #426a41;
    font-family: 'BenchNine', sans-serif;
    font-weight: 900;
    font-size: xx-large;
}

h2{
    color: #ee5012;
    font-family: 'Overpass Mono', sans-serif;
}

footer{
    text-align: center;
    background-color: #506b4f;
    color:#fff;
    font-size: x-small;
}

#copyright{
    font-family: 'Borel', cursive;
}

/* Index / homepage */
#intro-wrap{
    display: flex;
    justify-content: space-evenly;
}

.intro{
    width: 450px;
}

.gradient{
    font-weight: bold;
    background: linear-gradient(90deg, #002654, #ed2939);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}